		.ccv {
		border-radius: 5px;
		border: 1px solid #ffffff;
		}
		
		.btncvv{
		border-radius: 5px;
		border: 2px solid #FFFFFF;
		height: 25px;
		}
		
		
		
		.title{
		font-family: monospace;
		align-content: left;
		}
		
		.info-1{
		font-family: mo;
		}