		.title{
		font-family: arial;
		align-content: left;
		}
		
		.line-1{
		background: #000000;
		size: 50px;
		}
		
		.info-1{
		font-family: monospace;
		align-content: left;
		}

		.info-2{
		font-family: monospace;
		align-content: left;
		}